<ul id="accordion" class="accordion">
	<li data-href="Вдохновение античностью" class="active">
		<p>Вдохновение античностью</p>
		<div id="antiquityInspiration" class="image">
			<a href="#book/antiq/Вдохновение античностью" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/antiq/Вдохновение античностью" class="goBottom"></a>
<!-- 			<table class="antiquityInspirationTable">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table> -->
		</div>
	</li>
	<li data-href="Иллюстрации басен Крылова">
		<p>Иллюстрации басен Крылова</p>
		<div class="image">
			<a href="#book/story/Иллюстрации басен Крылова" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/story/Иллюстрации басен Крылова" class="goBottom"></a>
		</div>
	</li>
	<li data-href="Картины по Русской истории">
		<p>Картины по Русской истории</p>
		<div class="image">
			<a href="#book/history/Картины по Русской истории" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/history/Картины по Русской истории" class="goBottom"></a>
		</div>
	</li>
</ul>
