<ul id="accordion" class="accordion">
	<li class="active">
		<p>Вдохновение античностью</p>
		<div id="antiquityInspiration" class="image">
			<a href="#book/antiq" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/antiq" class="goBottom"></a>
			<table class="antiquityInspirationTable">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</li>
	<li>
		<p>Иллюстрации басен Крылова</p>
		<div class="image">
			<a href="#book/story" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/tales" class="goBottom"></a>
		</div>
	</li>
	<li>
		<p>Картины по Русской истории</p>
		<div class="image">
			<a href="#book/history" class="goTop"></a>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<a href="#video/history" class="goBottom"></a>
		</div>
	</li>
</ul>
