<ul id="accordion" class="accordion">
	<li class="active">
		<p>Вдохновение античностью</p>
		<div class="image">
			<button class="goTop"></button>
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
			<button class="goBottom"></button>
		</div>
	</li>
	<li>
		<p>Иллюстрации басен Крылова</p>
		<div class="image">
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
		</div>
	</li>
	<li>
		<p>Картины по Русской истории</p>
		<div class="image">
			<img src="img/content/dama.jpg" alt="Уроки Валентина Серова. Европа.">
		</div>
	</li>
</ul>
