<div id="aboute">
	<aside>
		<p>О проекте</p>
	</aside>
	<main>
		<div class="left">
			<img src="" class="logo">
			<h1 class="header">Уроки  Валентина Серова</h1>
			<span class="idea">
				<h2 class="subheader">Идея</h2>
				<p>Игровая интернет-программа, открывающая новый раздел "Образование онлайн" на официальном сайте Третьяковской галереи. С помощью онлайн-уроков можно побывать в воображаемой мастерской художника и раскрыть особенности его мастерства.</p>
				<p>Валентин Серов известен, в первую очередь, как непревзойденный мастер портрета, и потому так интересно узнать о его произведениях в других жанрах. Исторические сюжеты, басни, античные мифы и легенды  - все это увлекало художника и вдохновляло его на творческие поиски</p>
				<p>Программа приурочена к выставочному проекту "Валентин Серов. К 150-летию со дня рождения"</p>
			</span>
			<span class="forWho">
				<h2 class="subheader">Для кого</h2>
				<p>Игру можно порекомендовать как учащимся средней школы, так и любознательным взрослым</p>
			</span>
		</div>
		<div class="right">
			<span class="workOn">
				<h2 class="subheader">над проектом работали</h2>
				<p><b>Генеральный директор</b> З.И.Трегулова</p>
				<p></p>
				<p></p>
			</span>
			<span class="materials">
				<h2 class="subheader"></h2>
				<p></p>
				<p></p>
				<img src="">
				<p></p>
			</span>
		</div>
	</main>
</div>