<div id="mainScreen">
	<div class="imgContainer">
		<img class="lazy"  data-src="img/main-screen/backHeadband.jpg" src="img/main-screen/backHeadband.jpg" alt="Уроки Валентина Серова">
		<img src="img/main-screen/paper.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/molbert.png"alt="Уроки Валентина Серова">
		<img src="img/main-screen/bookshelf.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/table.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/bottles.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/brushes.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/portret.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/book.png" alt="Уроки Валентина Серова">
		<img src="img/main-screen/centerWords.png" alt="Уроки Валентина Серова">
		<nav style="opacity:0">
			<a href="#gallery">Игры</a>
		</nav>
	</div>
</div>