@import "../../../scss/partials/mixins/animation.scss";
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background-color: #717171;

  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    @include transform-style(preserve-3d);
    @include transition(transform 3s);

    &.show-front  {
      .front {
        transform: perspective(882px) translateZ(-409px) rotateX(0deg);

      }

      .top {
        transform: perspective(882px) translateZ(-409px)  rotateX(90deg);
      }

      .bottom {
        transform: perspective(882px) translateZ(-409px) rotateX(-90deg);
        opacity:0;
      }
    }

    &.show-top    {
      .front {
        transform: perspective(882px) translateZ(-409px) rotateX(-90deg);
      }

      .top {
        transform: perspective(882px) translateZ(-409px)  rotateX(0deg);
      }

      .bottom {
        transform: perspective(882px) translateZ(-409px) rotateX(-180deg);
        opacity:0;
      }
    }

    &.show-bottom {
      .front {
        transform: perspective(882px) translateZ(-409px) rotateX(90deg);
      }

      .top {
        transform: perspective(882px) translateZ(-409px) rotateX(180deg);
        opacity:0;
      }

      .bottom {
        transform: perspective(882px) translateZ(-409px) rotateX(0deg);
      }
    }

    figure  {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    display: block;
    position: absolute;
    @include backface-visibility(hidden);
    @include transition(transform 1s);
    }

    .top {
      transform-origin:50% 50% -410px;
      transform: perspective(882px)  translateZ(-409px)  rotateX(90deg);
    }
    .front {
      transform-origin:50% 50% -410px;
      transform: perspective(882px)  translateZ(-409px) rotateX(0deg);
    }
    .bottom {
      transform-origin:50% 50% -410px;
      transform: perspective(882px) translateZ(-409px) rotateX(-90deg);
    }

    @media screen and (max-height:768px) {

      .top {
        transform-origin:50% 50% -314px;
        transform: perspective(882px)  translateZ(-314px)  rotateX(90deg);
      }
      .front {
        transform-origin:50% 50% -280px;
        transform: perspective(882px)  translateZ(-280px) rotateX(0deg);
      }
      .bottom {
        transform-origin:50% 50% -314px;
        transform: perspective(882px) translateZ(-314px) rotateX(-90deg);
      }

      &.show-front  {
        .front {
          transform: perspective(882px) translateZ(-280px) rotateX(0deg);
        }

        .top {
          transform: perspective(882px) translateZ(-314px)  rotateX(90deg);
        }

        .bottom {
          transform: perspective(882px) translateZ(-314px) rotateX(-90deg);
          opacity:0;
        }
      }

      &.show-top    {
        .front {
          transform: perspective(882px) translateZ(-280px) rotateX(-90deg);
        }

        .top {
          transform: perspective(882px) translateZ(-314px)  rotateX(0deg);
        }

        .bottom {
          transform: perspective(882px) translateZ(-314px) rotateX(-180deg);
          opacity:0;
        }
      }

      &.show-bottom {
        .front {
          transform: perspective(882px) translateZ(-280px) rotateX(90deg);
        }

        .top {
          transform: perspective(882px) translateZ(-314px) rotateX(180deg);
          opacity:0;
        }

        .bottom {
          transform: perspective(882px) translateZ(-314px) rotateX(0deg);
        }
      }
    }
  }
}
