.container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  perspective: 1000px;
  background-color: #717171;

  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ( -24.15em );
    transition: transform 1s;

    &.show-front  { transform: translateZ( -24.15em ) rotateY(    0deg ); }
    &.show-back   { transform: translateZ( -24.15em ) rotateX( -180deg ); }
    &.show-top    { transform: translateZ( -24.15em ) rotateX(  -90deg ); }
    &.show-bottom { transform: translateZ( -24.15em ) rotateX(   90deg ); }

    figure  {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1024px;
    display: block;
    position: absolute;
    backface-visibility:hidden;
    }

    .front  { transform: rotateY(   0deg ) translateZ( 24.15em ); }
    .back   { transform: rotateX( 180deg ) translateZ( 24.15em ); }
    .top    { transform: rotateX(  90deg ) translateZ( 24.15em ); }
    .bottom { transform: rotateX( -90deg ) translateZ( 24.15em ); }
  }
}
