<div id="antiquityInspirationMap">
	<div class="screenContainer">
			<img class="map" src="img/antiquityInspirationMap/mainMap.jpg"/>

			<a class="point startPoint pointAthens" href="#quest/athens"> </a>
			<a class="point startPoint pointDelphi" href="#quest/delphi"> </a>
			<a class="point startPoint pointCorfu" href="#quest/korfu"> </a>
			<a class="point startPoint pointCrete" href="#quest/crete"> </a>

			<img class="cloud c1" src="img/antiquityInspirationMap/cloud1.png"/>
			<img class="cloud c2" src="img/antiquityInspirationMap/cloud2.png"/>
			<img class="cloud c3" src="img/antiquityInspirationMap/cloud3.png"/>

	</div>
</div>
