.shipContainer{
	transition: all 120s ease-in-out;
	position: absolute;
	left: 76%;
	top: 79%;
}

.ship-move-left{
	transform: translate(-1600px,0);
}

.ship-move-right{
	transform: translate(0px,0);
}

.ship{
		animation-name: pitching;
		animation-duration: 5000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
}

@keyframes pitching {
		0%   {transform:rotate(-2deg);}
		14%  {transform:rotate(-4deg);}
		29% {transform:rotate(-2deg);}
		43% {transform:rotate(0deg);}
		57% {transform:rotate(2deg);}
		71% {transform:rotate(4deg);}
		85% {transform:rotate(2deg);}
		100% {transform:rotate(0deg);}
}



#antiquityInspirationMap{
	padding-bottom: 105px;
	overflow: hidden;
  width: 100%;
	height: 100%;
	z-index: 1;

	.screenContainer{
		position: relative;
		min-width: 1024px;
		min-height: 768px;
		width: 100%;
		height: 100%;
		overflow: hidden;



		.map {
			position: relative;
			width: 100%;
			height: 100%;
			min-width: 1024px;
			min-height: 768px;
			left: 0;
			top: 0;
		}

		.point{
			position: absolute;
			background-position: center !important;
			background-repeat: no-repeat !important;
			width: 113px;
			height: 113px;
			z-index: 2;
		}

		.done{
			position: absolute;
			background-position: center !important;
			background-repeat: no-repeat !important;
			width: 57px;
			height: 57px;
			z-index: 2;
		}

		.animatePoint{
			transition: all 1s ease-in-out;
		}

		.pointStart{
			transform: scale(0.5);
    	z-index: 3;
		}

		.pointFinish{
			z-index: 2;
			transform: scale(0.5);
		}

		.athens{
			top: 10%;
			left: 46%;
		}

		.delphi{
			top: 23%;
			left: 33%;
		}

		.korfu{
			top: 58%;
			left: 13.5%;
		}

		.crete{
			top: 57%;
			left: 86%;
		}


		.cloud {
			position: absolute;
	    transition: all 20s ease-in-out;
			z-index: 1;
		}

		.move-up{
			transform: translate(0,-1920px);
		}
		.move-down{
			transform: translate(0,1920px);
		}
		.move-right{
			transform: translate(1920px,0);
		}
		.move-left{
			transform: translate(-1920px,0);
		}




	}



}
