<div id="antiquityInspirationMap">
	<div class="screenContainer">
			<img class="map" src="img/antiquityInspirationMap/mainMap.jpg"/>

			<a class="athens" href="#city/athens">
				<img class="point pointStart athens" src="/img/antiquityInspirationMap/pointStart.png"/>
				<img class="point pointFinish animatePoint athens" src="/img/antiquityInspirationMap/pointFinish.png"/>
			</a>
			<a class="delphi" href="#city/delphi">
				<img class="point pointStart delphi" src="/img/antiquityInspirationMap/pointStart.png"/>
				<img class="point pointFinish animatePoint delphi" src="/img/antiquityInspirationMap/pointFinish.png"/>
			</a>
			<a class="korfu" href="#city/korfu">
				<img class="point pointStart korfu" src="/img/antiquityInspirationMap/pointStart.png"/>
				<img class="point pointFinish animatePoint korfu" src="/img/antiquityInspirationMap/pointFinish.png"/>
			</a>
			<a class="crete" href="#city/crete">
				<img class="point pointStart  crete" src="/img/antiquityInspirationMap/pointStart.png"/>
				<img class="point pointFinish animatePoint crete" src="/img/antiquityInspirationMap/pointFinish.png"/>
			</a>

			<img class="cloud c1" src="img/antiquityInspirationMap/cloud1.png"/>
			<img class="cloud c2" src="img/antiquityInspirationMap/cloud2.png"/>
			<img class="cloud c3" src="img/antiquityInspirationMap/cloud3.png"/>

			<div class ="shipContainer">
				<img class="ship" src="img/antiquityInspirationMap/shipLeft.png"/>
			</div>

	</div>
</div>
