#city{
	height: 100%;
	width: 100%;
	padding-top: 5%;
	background-color: #ffffff;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 5;
	
	h2{
		margin-top: 0;
		text-align: center;
	}

	div{
		width: 50%;
		float: left;

		img{
			width: 100%;
		}

		p{
			padding: 0 10%;
		}

		a{
		    padding: 5%;
		    float: right;
		    background-color: #c41230;
		    color: #fff;
		    text-decoration: none;
		    margin: 25%;
		}
	}
}

@media screen and (max-height:768px) {
	#city{
		padding-top: 0;
		div {
			a{
				margin: 10% 25%;
			}
		}
	}
}
