.redLine {
    position: absolute;
    bottom: 0px;
    height: 6px;
    padding-left: 96px;
    width: 100%;
	.loaded {
		background-color: red;
		width: 0%;
		height: 100%;
	}
}

@media screen and (max-height:768px) {
<<<<<<< HEAD
	.redLine {
=======
	#redLine {
>>>>>>> be10bb60a31ce7f9716b37f8657390e69fb47ef6
	    position: absolute;
	    bottom: 0px;
	    height: 6px;
	    padding-left: 96px;
	    width: 100%;
	}
}
